<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SomerenDatabase" connectionString="Data Source=project13databaseserver.database.windows.net;
         Initial Catalog=project1.3Databases; User=project1.3Admin; Password=piuEB6dB"/>
    </connectionStrings>
	<tst>ggg</tst>
</configuration>
